@page
@model IndexModel

<main>
    <div class="bgimg bgimg-welcome">
        <div class="caption-this topleft">
            <span class="box letter-spaced">Nicolas EISENBERG</span>
        </div>
        <div class="caption-this bottomright">
            <span class="box letter-spaced">Développeur Web</span>
        </div>
        <a href="#rech-box" class="scroll-btn"><span></span></a>
    </div>
    <section class="recherche">
        <div id="rech-box" class="margin-bottom margin-top">
            <p class="margin-top">Actuellement à la recherche d'un stage dans le développement Web</p>
            <p class="margin-bottom">Du 2 Septembre au 25 Octobre 2019</p>
        </div>
    </section>
    <section class="bgimg bgimg-second">
        <span class="miniquote-right">#bruce-banner {<br />&emsp;color: pink;<br />&emsp;transition: color 10s;<br />}<br />#bruce-banner.the-hulk {<br />&emsp;color: green;<br />}</span>
    </section>
    <section id="wrap-about">
        <div id="about-left">

        </div>
        <div id="about-right">
            <div id="about-timeline">
                <div class="about-container go-left">
                    <div class="about-content">
                        <h3>« Développeur Web/Web mobile » Formation Professionnelle — Elan Formation — Strasbourg</h3>
                        <p>Mai 2019 — Décembre 2019</p>
                    </div>
                </div>
                <div class="about-container go-right">
                    <div class="about-content">
                        <h3>Première année de cursus Ingénieur (ING1) <em>(Niveau)</em> — EPITA — Le Kremlin-Bicêtre</h3>
                        <p>2015 — 2017</p>
                    </div>
                </div>
                <div class="about-container go-left">
                    <div class="about-content">
                        <h3>CPGE Scientifique — Spécialité Physique-Chimie — Lycée Kléber — Strasbourg</h3>
                        <p>2013 — 2015</p>
                    </div>
                </div>
                <div class="about-container go-right">
                    <div class="about-content">
                        <h3>Baccalauréat Scientifique — Spécialité Mathématiques — Lycée Freppel — Obernai</h3>
                        <p>2011</p>
                    </div>
                </div>
            </div>
            <div id="about-box-wrap">
                <div class="about-box">
                    <h2>Anglais</h2>
                    <p>Courant (TOIEC: 965, passé en 2016)</p>
                </div>
                <div class="about-box">
                    <h2>Hobbies</h2>
                    <ul>
                        <li>Jouer de la guitare</li>
                        <li>Cultiver sa curiosité sur le web</li>
                        <li>Jeux de rôles</li>
                        <li>Suivre le monde e-sportif</li>
                    </ul>
                </div>
            </div>
            <div class="about-box centerme pdf">
                <h2>Télécharger mon CV au format PDF</h2>
                <p>Link</p>
            </div>
        </div>
    </section>
    <section class="bgimg bgimg-third">
        <span class="miniquote-left">#mario-mushroom {<br />&emsp;transform: scale(200%);<br />}</span>
    </section>
</main>